<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.odianyun.internship.mapper.SoMapper">
    <select id="list" resultType="SoVO">
        select id, order_code, user_id, user_name, merchant_id
        from so
        <where>
            <if test="idList != null">
                id in
                <foreach collection="idList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="orderStatus != null">
                <!--and order_status &gt;= #{orderStatus}-->
                <!--and order_status &gt; #{orderStatus}-->
                <!--and order_status &lt;= #{orderStatus}-->
                and order_status &lt; #{orderStatus}
            </if>
            <include refid="orderCodeParam"/>
        </where>
    </select>

    <select id="get" resultType="SoVO">
        select id, order_code, user_id, user_name, merchant_id
        from so
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <include refid="orderCodeParam"/>
        </where>
    </select>

    <sql id="orderCodeParam">
        <if test="orderCode != null">
            and order_code = #{orderCode}
        </if>
    </sql>

    <!--<select id="choose" resultType="SoVO">
        select id, order_code, user_id, user_name, merchant_id, order_status
        from so
        <where>
            <choose>
                <when test="orderStatus == 1">
                    and order_status = 9000
                </when>
                <otherwise>
                    and order_status in (1050, 1060)
                </otherwise>
            </choose>
        </where>
        limit 0, 10
    </select>-->
    <select id="choose" resultType="SoVO">
        select id, order_code, user_id, user_name, merchant_id, order_status
        from so
        <where>
            <choose>
                <!--<when test="orderStatus == @com.odianyun.internship.constant.SoConstant@FRONT_ORDER_STATUS_CLOSED">
                    and order_status = ${@com.odianyun.internship.constant.SoConstant@ORDER_STATUS_CLOSED}
                </when>-->

                <when test="@com.odianyun.internship.constant.SoConstant@checkStatus(orderStatus, @com.odianyun.internship.constant.SoConstant@FRONT_ORDER_STATUS_CLOSED)">
                    and order_status = ${@com.odianyun.internship.constant.SoConstant@ORDER_STATUS_CLOSED}
                </when>
                <otherwise>
                    and order_status in
                    <foreach collection="@com.odianyun.internship.constant.SoConstant@ORDER_STATUS_DELIVERY_List"
                             item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </otherwise>
            </choose>
        </where>
        limit 0, 10
    </select>

    <select id="listSoPage" resultType="SoVO">
        select s.id, s.order_code, s.parent_order_code, s.order_status, s.merchant_id, s.merchant_name
        ,s.store_id, s.store_name, s.order_create_time, s.order_remark_user, s.user_id, s.user_name
        from so s
        <if test="code !=null">
            inner join so_item si on s.order_code = si.order_code
        </if>
        <where>
            <if test="orderCode != null">
                s.order_code = #{orderCode}
            </if>
            <if test="parentOrderCode != null">
                and s.parent_order_code = #{parentOrderCode}
            </if>
            <if test="code != null">
                and si.code = #{code}
            </if>
            <if test="storeId != null">
                and s.store_id = #{storeId}
            </if>
            <if test="startOrderCreateTime != null">
                and s.order_create_time &gt;= #{startOrderCreateTime}
            </if>
            <if test="endOrderCreateTime != null">
                and s.order_create_time &lt;= #{endOrderCreateTime}
            </if>
            <if test="orderStatus != null">
                and s.order_status = #{orderStatus}
            </if>
            
            <if test="isOrderRemarkUser != null">
                <choose>
                    <when test="isOrderRemarkUser == @com.odianyun.internship.constant.CommonConstant@YES">
                        and s.order_remark_user is not null
                    </when>
                    <otherwise>
                        and s.order_remark_user is null
                    </otherwise>
                </choose>
            </if>
        </where>

    </select>

    <update id="batchUpdateStatus">
        <foreach collection="list" item="item" separator=";">
            update so set order_status = #{item.orderStatus}
            where order_code =#{item.orderCode}
        </foreach>
    </update>

    <select id="listByOrderCodes" resultType="SoVO">
        select id, order_code, order_status
        from so
        where order_code in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>